<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3"><h3 class="text-center">Listado de Empleados</h3></span>
      <button class="btn btn-success btn-md float-end mt-3" routerLink="/create-empleado">Agregar</button>
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Salario</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tomas</td>
            <td>Perez</td>
            <td>29265134</td>
            <td>250000</td>
            <td>
              <i class="fa-solid fa-pen-to-square fa-lg text-warning me-2"></i>
              <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </td>
          </tr>
          <tr>
            <td>Juan</td>
            <td>Rodriguez</td>
            <td>76432109</td>
            <td>300000</td>
            <td>
              <i class="fa-solid fa-pen-to-square fa-lg text-warning me-2"></i>
              <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </td>
          </tr>
          <tr>
            <td>Luis</td>
            <td>Martinez</td>
            <td>29265134</td>
            <td>150000</td>
            <td>
              <i class="fa-solid fa-pen-to-square fa-lg text-warning me-2"></i>
              <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
